*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
/* font-family: 'Hanken Grotesk', sans-serif; */
}

body{
    background-color: #dcecff;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 15px 0;
    color: #fff;
    min-height: 30px;
    min-width: 330px;
}

.card{
    max-width: 600px;
    padding: 25px 25px 30px 25px;
    margin-bottom: 20px;
    border-radius: 7px
}

.morado{
    background-color: hsl(263, 55%, 52%);
    position: relative;
}

.morado::before {
    content: '';
    position: absolute;
    top: 0;
    right: 15px;
    width: 100px;
    height: 100px;
    background-image: url(images\bg-pattern-quotation.svg); 
    border-radius: 0 7px 0 0;
    opacity: 60%;
}

.desciption__text{
    z-index: 1000;
}

.gris{
    background-color: hsl(217, 19%, 35%);
}

.blanco, .blanco2{
    background-color: hsl(0, 0%, 100%);
    color: black;
}
.negro{
    background-color: hsl(219, 29%, 14%);
}

.perfil{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1.5rem;
}

.perfil__datos{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil__datos-nombre{
    font-size: 1.2rem;
    opacity: 85%;
}
.perfil__datos-estatus{
    font-size: 1rem;
    opacity: 50%;
}

.perfil__imagen{
    border: 3px solid #967cc1;
    border-radius: 100%;
    overflow: hidden;
    max-width: 32.5px;    
    max-height: 32.5px;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil__imagen-img{
    height: 100%;
    width: 100%;
}

.description{
    max-width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-weight: 700;
}

.bio{
    font-family: 700;
    font-size: 1.2rem;
    opacity: 50%;
}

@media screen and (min-width: 1440px){
    :root{
        font-size: 20px;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        padding: 0 100px;
        min-width: 80vw; 
        min-height: 80vh; 
        display: grid;
        grid-template-areas: 
        'morado morado gris blanco'
        'blanco2 oscuro oscuro blanco'
        ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    .card{
        margin: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        border-radius: 10px;
    }
    .morado{
        grid-area: morado; 
    }
    .gris{
        grid-area: gris;
    }
    .blanco{
        grid-area: blanco2; 
    }
    .blanco2{
        grid-area: blanco; 
    }
    .negro{
        grid-area: oscuro; 
    }
    .morado::before {
        content: '';
        position: absolute;
        top: 0;
        right: 6%;
        width: 100px;
        height: 100px;
        background-image: url(/images/bg-pattern-quotation.svg); 
        border-radius: 0 7px 0 0;
        opacity: 60%;
    }
}
